/* https://coolors.co/e53d00-5bc0eb-fde74c-9bc53d-211a1e */

:root {
    --flame: #e53d00ff;
    --cyan-process: #5bc0ebff;
    --minion-yellow: #fde74cff;
    --android-green: #9bc53dff;
    --raisin-black: #211a1eff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 100px 70px;
    background-color: var(--cyan-process);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    padding: 50px;
    text-align: center;
    border: 5px solid var(--raisin-black);
    font-size: 4rem;
    border-radius: 5px;
    background-color: var(--raisin-black);
    position: relative;
    overflow: hidden;
}

.card.open {
    border: 5px solid var(--minion-yellow);
}

.card.open:before{ 
    transform: translateY(100%);
}

.card:before {
    content: "";
    position: absolute;
    transform: translateY(0px);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--minion-yellow);
    transition: transform .2s ease-in-out;
}

.timer {
    background-color: var(--minion-yellow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.message {
    position: fixed;
    background-color: var(--raisin-black);
    color: var(--minion-yellow);
    padding: 10px;
    left: 0;
    bottom: 0;
    font-size: 1.2rem;
}