/* https://coolors.co/e53d00-5bc0eb-fde74c-9bc53d-211a1e */

:root {
  --flame: #e53d00ff;
  --cyan-process: #5bc0ebff;
  --minion-yellow: #fde74cff;
  --android-green: #9bc53dff;
  --raisin-black: #211a1eff;
}

* {
  box-sizing: border-box;
}
